<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="c1"></div>
</body>
</html>
<script src="https://cdn.dingxiang-inc.com/ctu-group/captcha-ui/index.js"></script>
<script>

    var myCaptcha = _dx.Captcha(document.getElementById('c1'), {
    appId: 'ab48d75ad686367dc7acfeb6f000363c',   //appId,开通服务后可在控制台中“服务管理”模块获取
    success: function (token) {
      console.log('token:', token)
    }
})

</script>